<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {{ errors }}
    <ul>
        {% for key, value in form.errors.items %}
        <li>поле {{ key|escape }}: {{ value|escape }}</li>
        {% endfor %}
    </ul>
    Add user
    <form method="POST" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить">
    </form>
</body>
</html>