<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <a href="/user/add">Добавить пользователя</a>
    <p>Для редактирования пользователя зайдите на страницу <code>/user/user_id</code></p>
</body>
</html>