<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% if exist %}
    {{ message }}
    {% if form.errors %}
    <ul>
        {% for key, value in form.errors.items %}
        <li>поле {{ key|escape }}: {{ value|escape }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить">
    </form>

    Данные пользователя сейчас:<br>
    Фото:
    {% if photo != '' %}
    <img src="../..{{ photo.url }}">
    {% endif %}
    <br>
    Имя: {{ name }}<br>
    Фамилия: {{ surname }}<br>
    Год рождения: {{ birthyear }}<br>
    Фото документа:
    {% if document != '' %}
    <img src="../..{{ document.url }}"><br>
    {% endif %}
    {% else %}
    <p>Пользователь с id {{ id }} не существует, создать его можно <a href="./add/">здесь</a> </p>
    {% endif %}
</body>
</html>